<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventClic Website</title>
</head>

<body>
<header>
  <nav class="navbar">
    <div class="navbar-left">
      <a href="#" class="logo">TheEveneT</a>
    </div>
    <div class="navbar-right">
      <ul class="navbar-menu">
        <li><a href="sataistiques">Statistique</a></li>
        <li><a href="acceuil">Acceuil</a></li>
        <li><a href="salle">Favoris</a></li>
        <li><a href="/register">S'inscrire</a></li>
        <li><a href="login">S'identifier</a></li>
        <li>
          <div class="language-selector">
            <img src="" alt="">
            <span>▼</span>
          </div>
        </li>
        <li>
          <a href="login" class="add-location-btn">
            <span class="plus-icon">+</span> Ajouter une location
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
</body>

</html>

