<body class="index-page">


<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Selecao</span></h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
        <div class="topnav">
          <input type="text" placeholder="Search..">
        </div>

      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9"></use>
      </g>
    </svg>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <style>
      /* Styles pour les cartes */
      .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      }

      .card-title {
        color: #2c3e50; /* Couleur du texte du titre */
      }

      /* Styles pour les icônes */
      .card-body .mb-3 div {
        transition: background-color 0.3s ease, transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px; /* Ajustez la largeur selon vos préférences */
        height: 80px; /* Ajustez la hauteur selon vos préférences */
        margin: 0 auto;
      }

      .card-body .mb-3 div:hover {
        background-color: rgba(52, 1, 219, 0.2); /* Couleur de fond au survol */
        transform: scale(1.1); /* Agrandir l'icône au survol */
      }

      .card-body i {
        font-size:40px; /* Taille des icônes */
        color: black; /* Couleur des icônes */
      }

      /* Styles pour le bouton */
      .btn-primary {
        transition: background-color 0.3s ease, transform 0.3s ease;
      }

      .btn-primary:hover {
        background-color: #699cc6; /* Couleur de fond au survol */
        transform: scale(1.05); /* Agrandir le bouton au survol */
      }

      /* Animation des titres */
      h1 {
        animation: fadeIn 1.5s ease forwards;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
    <title>EVEN-NET</title>
    <body class="bg-light">
    <section class="py-5">
      <div class="container text-center">
        <h1 class="display-5 fw-bold">EVEN-NET <span class="text-primary">POURQUOI ?</span> ET <span class="text-primary">POUR QUI ?</span></h1>
        <hr class="mx-auto my-4 w-25 text-primary">
      </div>

      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">

          <!-- Card 1 -->
          <div class="col">
            <div class="card h-100 text-center shadow-sm bg-white">
              <div class="card-body">
                <div class="mb-3">
                  <div>
                    <i class="flaticon-technology-3"></i>
                    <i class="fas fa-bullseye"></i> <!-- Ajoutez une icône ici -->
                  </div>
                </div>
                <h5 class="card-title">Notre mission</h5>
                <p class="card-text">EVEN-NET est le premier site gratuit des salles publiques et privées en location en <strong>Maroc</strong>.</p>
              </div>
              <div class="card-footer bg-transparent">
                <a href="about" class="btn btn-primary">Découvrez Nous</a>
              </div>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="col">
            <div class="card h-100 text-center bg-white shadow-sm">
              <div class="card-body">
                <div class="mb-3">
                  <div>
                    <div>
                      <i class="fa-solid fa-phone"></i>
                    </div>
                  </div>
                </div>
                <h5 class="card-title">Louer votre salle</h5>
                <p class="card-text">Collectivités, entreprises, ne perdez pas de temps et mettez gratuitement votre salle en location sur EVEN-Net.</p>
              </div>
              <div class="card-footer bg-transparent">
                <a href="#" class="btn btn-primary">Déclarez Votre Salle</a>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="col">
            <div class="card h-100 text-center shadow-sm bg-white">
              <div class="card-body">
                <div class="mb-3">
                  <div>
                    <i class="fa-brands fa-searchengin"></i>
                  </div>
                </div>
                <h5 class="card-title">Trouver une salle</h5>
                <p class="card-text">Internaute, trouvez une salle en location simplement, gratuitement dans le respect de votre vie privée.</p>
              </div>
              <div class="card-footer bg-transparent">
                <a href="#" class="btn btn-primary">Recherchez Une Salle</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Lien vers Bootstrap JS et Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>

  </section>

  <section class="text-center">
    <h1 class="custom-title">Nos disponibles salles</h1>
  </section>

  <section class="card-section">
    <button class="arrow left-arrow" onclick="scrollLeft()">&#10094;</button>

    <div class="card-container">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">Card Title 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
        </div>
      </div>

      <div *ngFor="let salle of salles" class="card"s>
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top" alt="Image de la salle">
        <div class="card-body">
          <h5 class="card-title">{{ salle.nom }}</h5>
          <p class="card-text">Capacité: {{ salle.capacite }}</p>
          <a href="salle" class="btn btn-primary" data-mdb-ripple-init  (click)="voirdetails()">Voir les détails</a>
        </div>
      </div>

      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">Card Title 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
        </div>
      </div>
    </div>
    <button class="arrow right-arrow" onclick="scrollRight()">&#10095;</button>
  </section>
  <body>
  <div class="banner">
    <div class="banner-content">
      <h1>SALLESDESFETES.FR VOUS A AIDÉ À RÉSERVER UNE SALLE POUR FAIRE LA FÊTE ...</h1>
      <p>N'hésitez pas à nous partager votre expérience, ça nous mettra du baume au coeur !</p>
    </div>
    <button class="contact-button" ><a href="footer">Contactez nous</a></button>
  </div>
  </body>
</main>


