<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : +212 600000000</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div class="app-form-group">
                <input formControlName="name" class="app-form-control" placeholder="NAME">
              </div>
              <div class="app-form-group">
                <input formControlName="email" class="app-form-control" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input formControlName="phone" class="app-form-control" placeholder="CONTACT NO"> <!-- Correction ici -->
              </div>
              <div class="app-form-group message">
                <input formControlName="message" class="app-form-control" placeholder="MESSAGE">
              </div>
              <div class="app-form-group buttons">
                <button type="button" class="app-form-button" (click)="contactForm.reset()">CANCEL</button>
                <button type="submit" class="app-form-button">SEND</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="credits">
      inspired by VIVA
    </div>
  </div>
</div>
