<nav>
  <ul>
    <li><a href="acceuil">Home</a></li>
    <li><a href="about">About</a></li>
    <li>
      <a href="">Clients</a>
      <ul>
        <li><a href="reserver">Burger King</a></li>
        <li><a href="#0">Southwest Airlines</a></li>
        <li><a href="#0">Levi Strauss</a></li>
      </ul>
    </li>
    <li>
      <a href="#0">Services</a>
      <ul>
        <li><a href="salle">Nos Salles</a></li>
        <li><a href="list">ajouter un offre</a></li>
        <li><a href="#0">Mobile App Development</a></li>
      </ul>
    </li>
    <li><a href="footer">Contact</a></li>
    <li>
      <a href="#0">Connexion</a>
      <ul>
        <li><a href="register">Créer un compte</a></li>
        <li><a href="login">Se connecter</a></li>
      </ul>
    </li>

  </ul>
</nav>


