<div class="container">
  <h2>Ajouter une Salle</h2>
  <form [formGroup]="salleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" formControlName="nom" class="form-control" />
      <div *ngIf="salleForm.get('nom')?.invalid && salleForm.get('nom')?.touched" class="text-danger">
        Nom requis.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" formControlName="description" class="form-control" />
      <div *ngIf="salleForm.get('description')?.invalid && salleForm.get('description')?.touched" class="text-danger">
        Description requise.
      </div>
    </div>

    <div class="form-group">
      <label for="capacite">Capacité</label>
      <input type="number" id="capacite" formControlName="capacite" class="form-control" />
      <div *ngIf="salleForm.get('capacite')?.invalid && salleForm.get('capacite')?.touched" class="text-danger">
        Capacité requise (doit être supérieure à 0).
      </div>
    </div>

    <div class="form-group">
      <label for="emplacement">Emplacement</label>
      <input type="text" id="emplacement" formControlName="emplacement" class="form-control" />
      <div *ngIf="salleForm.get('emplacement')?.invalid && salleForm.get('emplacement')?.touched" class="text-danger">
        Emplacement requis.
      </div>
    </div>

    <div class="form-group">
      <label for="prix">Prix</label>
      <input type="number" id="prix" formControlName="prix" class="form-control" />
      <div *ngIf="salleForm.get('prix')?.invalid && salleForm.get('prix')?.touched" class="text-danger">
        Prix requis (doit être supérieur ou égal à 0).
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="salleForm.invalid">Ajouter</button>
  </form>
</div>
